@font-face {
    font-family: 'Gilroy Bold';
    font-weight: 900;
    font-style: bold;
    src: url("Gilroy-Semibold.woff");
}

@font-face {
    font-family: 'Gilroy Light';
    font-weight: 500;
    font-style: normal;
    src: url("Gilroy-Light.woff");
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Gilroy Light';
    color: #73738D;
    background-color: #f1efef;
}

h1 {
    font-family: 'Gilroy Bold';
    color: #222222;
}

button {
    font-family: 'Gilroy Light';
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #73738D;
}

li {
    display: block;
}


.container-hero {
    margin: 0 auto;
    max-width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.hero-inner {
    max-width: 50%;
    padding-top: 77px;
    margin-left: 50px;
}

.hero__title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Gilroy Bold';
    color: #222222;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(40, end) forwards, blink 0.7s step-end infinite;
    animation-delay: 0.75s;
}

.hero__paragraph {
    font-weight: 500;
    font-size: 14.55px;
    opacity: 0;
    transform: translateX(-100px);
    animation: slideOut 1s ease forwards;
    animation-delay: 0.75s;
}

@keyframes slideOut {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.hero-image {
    margin-left: 200px;
    display: block;
    opacity: 0;
    transform: translateX(100px);
    animation: slideIn 1s ease forwards;
    animation-delay: 0.75s;

}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.subscribe {
    position: relative;
    display: inline-flex;
    margin-top: 20px;
}

.subscribe__button {
    border-radius: 33.96px;
    width: 155.94px;
    height: 41.58px;
    border: 1.04px;
    color: #fff;
    background-color: #1943EF;
    border-color: #1943EF;
    border-style: solid;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.subscribe__button:hover {
    background-color: #fff;
    color: #1943EF;
}

.subscribe__input {
    width: 423.46px;
    height: 41.58px;
    background-color: #fff;
    color: #73738D99;
    opacity: 60%;
    border: 1.04px;
    border-radius: 33.96px;
    padding-left: 20px;
}

.second {
    margin: 0 auto;
    width: 60%;
    height: 350px;
    display: flex;
    margin-top: 117px;
}

.inner__second {
    width: 379.79px;
    height: 375.59px;
    margin-left: 20px;
}

.surbhi {
    display: flex;
    font-size: 11.09px;
    background-color: #fff;
    height: 66.53px;
    width: 379.79px;
    border-radius: 16.63px;
    align-items: center;
    padding: 0 0 7px 7px;
    margin-bottom: 15px;
}

.surbhi p {
    width: 300.79px;
    margin-left: 5px;
    color: #222222CC;
}

.surbhi img {
    width: 33.27px;
    height: 33.27px;
}

.inner__second-txt {
    margin-left: 40px;
}

.inner__second-txt p {
    font-size: 14.55px;
    width: 343.03px;
}

.checks1 {
    height: 40px;
    width: 250px;
    display: inline-flex;
    font-size: 11.09px;
}



.vector {
    width: 9.24px;
    height: 6.93px;
    margin-right: 5px;
    margin-top: 4px;
}

.checks2 {
    height: 40px;
    width: 250px;
    display: inline-flex;
    font-size: 11.09px;
}

.third {
    margin: 0 auto;
    width: 60%;
    height: 380px;
    display: flex;
}

.group1 {
    background-color: #c4e6dc;
    border-radius: 31.88px;
    width: 51.98px;
    height: 51.98px;
    animation: spin 4s linear infinite;
}

.group2 {
    background-color: #c4e6dc;
    border-radius: 31.88px;
    width: 51.98px;
    height: 51.98px;
    animation: spin 4s linear infinite;
    margin-left: 82px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.circle-one {
    padding: 13px 5px 5px 10px;
}

.inner__thrird-txt {
    width: 400px;
}

.inner__thrird-txt h1 {
    margin: 25px 0;
    font-size: 24.95px;
    font-weight: 700;
    width: 368px;
}

.inner__thrird-txt p {
    font-size: 14.55px;
    width: 368px;
}

.profile {
    margin-top: 100px;
    margin-left: 56.27px;
}

.name {
    display: flex;
    margin-left: 59.6px;
}

.name-txt {
    margin-left: 8.32px;
}

.name-txt p {
    margin: 0;
    font-size: 11.09px;
    color: #222222;
}

.name-txt b {
    color: #222222;
    margin: 0;
    font-size: 16.63px;
}

.profile__line {
    display: flex;
    margin-left: 59.6px;
    margin-top: 16.63px;
}

.profile__line p {
    margin-left: 8.38px;
    font-size: 11.09px;
}

.fourth {
    margin: 0 auto;
    width: 60%;
    height: 380px;
    display: flex;
}

.anxiety-txt {
    display: flex;
    justify-content: space-between;
    margin-top: 78.93px;
}

.worry {
    font-size: 9.07px;
    width: 307.17px;
    color: #73738DCC;
    font-weight: 500;
}

.inner__fourth-txt p {
    margin: 0;
    font-size: 11.09px;
}

.stay-connected-block {
    margin-left: 59.6px;
}

.stay-connected-text h1 {
    margin-left: 85.6px;
    font-size: 24.95px;
    font-weight: 700;
    width: 368px;
}

.stay-connected-text p {
    font-size: 14.55px;
    width: 343.06px;
    margin-left: 85.6px;
}

.bottom-baner {
    width: 900px;
    height: 104.45px;
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.subscribe__button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 33.96px;
    width: 155.94px;
    height: 41.58px;
    border: 1.04px;
    color: #fff;
    background-color: #26C296;
    border-color: #26C296;
    border-style: solid;
    font-weight: 600;
    margin-left: 133.76px;
    cursor: pointer;
}

.subscribe__button2:hover {
    background-color: #fff;
    color: #26C296;
}

.footer {
    text-align: center;
    margin-top: 35.22px;
}

.footer h1 {
    font-size: 16.65px;
}

.footer p {
    font-size: 11.09px;
}